!!!
%html
 %head
  %title Where Does it Hurt?
  %link(rel="stylesheet" href="css/style.css")  
  %script(type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js")
  %script(type="text/javascript" src="js/site.js")
 %body
  #page
   #main
    %header 
     #patient-name 
     #chart-date Create a new chart now or browse the chart history
     #notice
      %span.noticemsg
    #chart-container
     #save.button Save
     #clearchart.button Clear All
     #chart
    #instructions
     %p 
      Click on the chart to add a point. 
      %br Click on any existing point again to remove it.
   %sidebar
    #chart-history