html, body {
 width:100%;
 height:100%;
 margin:0;
 padding:0;
 font-size:1em;
 font-family:"Myriad Pro", Arial;
 background-color:#2f2f2f;
 color:#fff;
}
#page{
 width:100%;
 min-width:1080px;
 height:100%;
 min-height:720px;
 margin:0;
 padding:0;
}
#main {
 display:block;
 float:left;
 width:62%;
 height:100%;
 background-color:#1f1f1f;
 margin:0;
 padding:0;
}
#main header{
 float:left;  
 width:50%;
 color:#fff;
 text-align:center;
}
#chart-container{
 width:600px;
 height:600px;
 margin:0 auto;
}
#chart {
 position:relative;
 float:left;
 width:600px;
 height:600px;
 background-image:url('/images/chartman.png');
 background-repeat:no-repeat;
 z-index:1;
}
.point {
 position:absolute;
 display:block;
 width:10px;
 height:10px;
 margin:-5px 0 0 -5px;
 padding:0;
 background-color:#C51C00;
 border-radius:5px;
 -webkit-border-radius:5px;
 -moz-border-radius:5px;
 z-index:2;
 cursor:pointer;
}
.highlight {
 background-color:#F3FF20;
 -webkit-transition: background-color .16s linear;
}
.button{
 display:inline;
 float:right;
 width:80px;
 height:25px;
 margin:15px 10px 10px 10px;
 padding:9px 0px 0px 0px;
 background-image: -webkit-gradient(
     linear,
     left bottom,
     left top,
     color-stop(0.12, rgb(41,41,41)),
     color-stop(0.56, rgb(71,71,71)),
     color-stop(0.78, rgb(89,89,89))
 );
 background-image: -moz-linear-gradient(
     center bottom,
     rgb(41,41,41) 12%,
     rgb(71,71,71) 56%,
     rgb(89,89,89) 78%
 );
 color:#fff;
 text-align:center;
 border:1px solid #1b1b1b;
 border-radius:6px;
 -webkit-border-radius:6px;
 -moz-border-radius:6px;
}
.button:hover{
 background-image: -webkit-gradient(
     linear,
     left bottom,
     left top,
     color-stop(0.12, rgb(51,51,51)),
     color-stop(0.56, rgb(92,92,92)),
     color-stop(0.78, rgb(110,110,110))
 );
 background-image: -moz-linear-gradient(
     center bottom,
     rgb(51,51,51) 12%,
     rgb(92,92,92) 56%,
     rgb(110,110,110) 78%
 );
 color:#fff;
 cursor:pointer;
}
sidebar {
 position:relative;
 display:block;
 float:left;
 width:38%;
 height:100%;
 margin:0px;
 padding:0px;
 color:#fff;
}
#chart-history {
 margin:10px;
 padding:0;
 width:100%;
}
#instructions{
clear:both;
width:100%;
margin:10px;
text-align:center;
}